:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0 auto;
  margin-top: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 96px;
  margin-top: 1px;
}
.author-name-header {
  line-height: 99px;
  margin-bottom: 14px;
}

.main-header {
  font-size: 96px;
  margin-bottom: 0px;
}

h2,
.sub-headers {
  font-size: 48px;
}

h3 {
  font-size: 28px !important;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.right-text-padding {
  padding-left: 0px;
  padding-bottom: 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  margin-top: 22px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.purple-button {
  background-color:  #6c63ff;
  box-shadow: var(--box-shadow);
  color: white;
  width: 110px;
  text-align: center;
}
.purple-button:hover {
  background: #a9a5fc;
  box-shadow: var(--box-shadow);
  color: white;
  width: 110px;
  text-align: center;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 110px;
  text-align: center;
}
.about-link:hover {
  border: 1px solid #a9a5fc;
  color: #a9a5fc;
  width: 110px;
  text-align: center;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.project-images {
  width: 100%;
  padding: 4px;
}

.plain-text {
  background: white;
  text-align: left;
  padding-top: 14px;
  padding-left: 0;
  margin: 0;
}

.text-to-left {
  text-align: left;
  padding-bottom: 20px;
}

.container-margins {
  margin-top: 50px;
}

.home-top-text-margin {
  margin-top: 45px;
  margin-bottom: 1px;
}

.top-text-margin {
  margin-top: 45px;
}

.nav-margin {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.row-bottom-margin {
  margin-bottom: 60px;
}

.main-header {
  margin-top: 75px;
}

.sub-headers {
  margin-top: 20px;
}

.lauch-app-button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
}

.lauch-app-button:hover {
  background-color: #827cfc;
  color: white;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
}

.intro-paragraph {
  padding-top: 22px;
  padding-bottom: 8px;
}
.artist-name-footer a{
  text-decoration: none;

}

.social-icons {
  text-align: center;
  font-size: 30px;

}
.social-icons a {
padding: 8px;
  color:#6C63FF;

}
.footer-background{
  background-color: #F8F9FA;
  text-align: center;
  padding-bottom: 20px;
}
.footer-background a{
  text-decoration: none;
}
.my-git{
  color: #6C63FF;
}

.get-in-touch{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.social-links a{
  font-size: 18px;
  color: black;
}
.nav-linkedinlink {
  padding-top: 9px;
  padding-left: 10px;
  font-size: 22px;
}
.fa-brands{
  color: rgb(38, 38, 38);
  padding-right: 8px;
}

.my-nav{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
.navbar-nav{
  color: #6c63ff;
}
.navbar-collapse{
  flex-grow: 0;
}
.my-resume{
  display: block;
  margin: 0 auto;
  width: 40%;
}

.button-link{
  border: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 180px;
  background-color: #6c63ff;
  color: white;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
}

.button-link:hover{
  text-decoration: none;
  background: #a9a5fc;
}
.download-button{
  text-decoration: none; 
   color: white;

}
.download-button:hover{
  text-decoration: none; 
   color: white;

}
.pokemon{
  padding-top: 60px;
}

@media (max-width: 767px){
   
  .pokemon{
    padding-top: 60px;
  }
  
  .author-name-header,
  .main-header{
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 10px ;

  }
  .home-top-text-margin {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 4px;
  
}
h2, .sub-headers{
  font-size: 40px ;
  padding-bottom:  0px !important;

}

h3{
  font-size: 35px;
}

.navigation-links{
  margin-top: 20px;
}


.container-margins{
 
  margin-top: 20px;

}
.project-images{
  margin-bottom: 20px;
}

.weather-image{
  margin-top: 50px;
}

}
@media (max-width: 572px){
   
  body{
    margin-left: 16px;
    margin-right: 16px;

  }

}



@media (max-width: 500px){
   
  body{
    margin-left: 16px;
    margin-right: 16px;

  }

  .author-name-header,
  .main-header{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px ;

  }
  .home-top-text-margin {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 4px;

}
h2, .sub-headers{
  font-size: 30px ;
  padding-bottom:  0px !important;
  
}

h3{
  font-size: 20px !important;
}

.navigation-links{
  margin-top: 10px;
}

.container-margins{
 
  margin-top: 30px;

}
.project-images{
  margin-bottom: 20px;

}
.weather-app-button{
  margin-bottom: 30px !important;
}
.row-bottom-margin{
  margin-top: 30px;
}
.weather-image{
  margin-top: 50px;
}
.pokemon{
  padding-top: 30px;
}

}

